.input {
  width: 335px;
  height: 60px;
  background: rgba(54, 54, 64, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 15px;
  color: #fff;
  font-size: 20px;
  border-bottom-width: 2px;
  &:focus {
    border-color: aquamarine;
    outline: none;
  }
}
